.green-line{
    background-color: greenyellow;
    height: 10px;
    width: 100%;
}
.div2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    width: 80%;
    text-align: justify;
    padding: 20px;
   
   
}